vue/package-lock.json
public/
env/
venv/
__pycache__/
*.py[cod]
*$py.class
.idea
.DS_Store
.idea
.idea/
.idea/*

._*
**/.DS_Store

*.pyc
*.db
*.pid
*.log

**/migrations/**
!**/migrations
!**/migrations/__init__.py

src/config.py
.vscode/
db.sqlite3
db.sqlite
docker-compose.yaml

src/settings_mod.py
static/js/
static/css/

logs/